{% extends 'base.html'%}
{% load static %}
{% block title %}| Economic Policies {% endblock %}
{% block content %}
<section >
	<div class="jumbotron">
		<h2  > Books realted to Economic Policy </h2>
		<hr>
		<div class="row text-center pt-md-2" >
			
			<div class="col-md-1">
				<div class="card " style="height: 250px;">

					<img src="{% static 'img/content.jpg' %}" class="card-img-top" style="max-height: 200px; ">
													
					<a  href="https://books.google.co.in/books/about/Why_Nations_Fail.html?id=PLlOCUIAh88C&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text"><b> Why Nation Fails </b> </a>
					
				</div>
			</div>
			<div class="col-md-1">
				<div class="card"style="height: 250px;">
					<img src="{% static 'img/book1.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/The_General_Theory_of_Employment_Interes.html?id=ZmjCDQAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b> The General Theory of Employement</b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card"style="height: 250px;">
					<img src="{% static 'img/book2.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/Zero_to_One.html?id=M22fAwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b> Zero to one</b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card"style="height: 250px;">
					<img src="{% static 'img/book3.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/Capitalism_and_Freedom.html?id=zHSv4OyuY1EC&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b>Capitalism and Freedom </b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card"style="height: 250px;">
					<img src="{% static 'img/book4.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/Firefighting.html?id=OcZ_DwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b> Firefighting</b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card" style="height: 250px;">
					<img src="{% static 'img/book5.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/Doughnut_Economics.html?id=SUYtDgAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b> Doughnut of Economics</b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card" style="height: 250px;">
					<img src="{% static 'img/book6.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://www.google.com/search?sa=X&biw=1366&bih=657&q=Economics+in+One+Lesson&stick=H4sIAAAAAAAAAGVTy2oUQRSdlowkPQmMHYI6KLZZiIgw09XvbAQlu4SAZt9Y1e_uquqeKvoxbvwGP8G1G1eCf-AsFVwouBAR_AOXTibdNYq7Oveee07de6u2h4c7UzydAWYABG7nCeMqDdUAUUJxgtSC5glqVUhpxpaSfEHNSONV1VJa12mVi63urJuebi-l0Tq-SlQV7NHMTLGb97zQNPWltDeNppoWGnMNAjsSGILGqn3emUFP43pfaKHaqwXRhLFX2Kgjgsbli7Yj2nmN2p4Ycc9LZ2bWEY3aNquyI6KotbBQDCstbRq_yxlOunCEiEfcKM" class="card-text" ><b>Economics is One Lesson </b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card" style="height: 250px;">
					<img src="{% static 'img/book7.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/The_Clash_of_Economic_Ideas.html?id=yzsWS6DJ-IAC&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b> The Clash of Economic Ideas</b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card" style="height: 250px;">
					<img src="{% static 'img/book8.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/Economic_Policy.html?id=Y1luAwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b> Economic Policy</b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card" style="height: 250px;">
					<img src="{% static 'img/book9.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/Saving_Capitalism.html?id=KjHJCwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b>Saving Capitalism</b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card" style="height: 250px;">
					<img src="{% static 'img/book10.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/India.html?id=7YowDwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b> India: Priorities for the Future</b></a>
				</div>
			</div>
			<div class="col-md-1">
				<div class="card" style="height: 250px;">
					<img src="{% static 'img/book11.jpg' %}" class="card-img"style="max-height: 200px; ">
					<a href="https://books.google.co.in/books/about/People_Power_and_Profits.html?id=70WFDwAAQBAJ&printsec=frontcover&source=kp_read_button&redir_esc=y#v=onepage&q&f=false" class="card-text" ><b> People, Power, and Profits</b></a>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="jumbotron">
	<h2 class="text-center" >Some knowledge about Economic Policy</h2>
	<hr>
	<div class="container pb-md-2 pt-md-3">
		<div class="row sildeanim ">
			<div class=" col-md-6 pl-md-2  text-center  ">
			<div class="card">
				<div class="card-body">
					
						<h2 class="card-titile display-4 bg-secondary text-white" > Economic policy</h2>
						<hr>
						<p class=" card-text text-justify display-5"><b>The economic policy of governments covers the systems for setting levels of taxation, government budgets, the money supply and interest rates as well as the labour market, national ownership, and many other areas of government interventions into the economy.</b></p>
					</div>
				</div>
			</div>
			<div class=" pr-md-2 col-md-6  text-center ">
				<div class="card">
					<div class="card-body">
					
						<h3  class="card-titile display-5 bg-secondary text-white">What is the present government’s economic policy? </h3>
						<hr>
						<p class="card-text text-justify "><b>The government’s current policy is based on a market economy. The government focuses on: creating markets where there are none; correcting market flaws when they are verifiable and if there are adequate technical mechanisms to correct them; regulating markets that fail to be fully competitive or where externalities are relevant; and generating policies that allow all citizens to enjoy minimum social benefits, which include programs in the areas of health, education and housing. Among these initiatives are the New Health Care Program (Plan Auge), Full School Day, and housing programs, in addition to others such as Chile Solidario.</b></p>
					</div>
				</div>
			</div>
	</div>
</div>
</div>
<!--Great Thought secontion-->
<div class="jumbotron">
	<h2 class="display-4"><b>Great Quotes</b></h2>
<div id="demo" class="carousel slide text-center" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" >
    	<div class="carousel-item active">
        <h4> "Little else is requisite to carry a state to the highest degree of opulence from the lowest barbarism but peace, 
        <br>easy taxes, and a tolerable administration of justice."<br><span>Adam Smith</span></h4>
      </div>
      <div class="carousel-item">
        <h4> "There is one rule for the industrialist and that is: make the best quality goods possible at the lowest cost possible,
        <br> paying the highest wages possible."<br><span>Henry Ford</span></h4>
      </div>
      <div class="carousel-item ">
        <h4>"We know that advanced economies with stable governments that borrow in their own currency are capable of 
        	<br>running up very high levels of debt without crisis."<br><span>Paul Krugman</span></h4>
      </div>
</div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo"  data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo"  data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
</div>
</div>

<!-- TAXES-->
<div class="jumbotron">
	<div class="container-fluid text-center   ">
		<h2 class="display-4"><b>Taxes</b></h2>
	</div>
	<hr>
	<div class="container">
	<div class="row sildeanim   text-center ">
		
		<div class="col-md-4" >
			<div class=" card ">
				<div class="card-body">
					<h3 class="display-5 bg-secondary text-white">What are double taxation agreements?</h3>
					<hr>
					<p class="text-justify pre-scrollable"><b>These are international agreements signed between two governments that are incorporated into each country’s internal legal structure for the purpose of eliminating or decreasing double international taxation affecting or hindering the exchange of goods and services and the movement of capital, technologies and people. Double taxation agreements benefit Individuals or other entities residing or domiciled in either of the countries that are a party to the agreement. In general, these agreements apply to taxes on income and equity as follows:	
					<br>
					1.Exclusive tax jurisdiction is conferred upon only one of the two countries that is party to the agreement, for income or equity, being either the country where the entity is located or residing, or the county where income is originated or has its source;<br>
					2.Taxing power is conferred upon both countries, but establishing a maximum rate that the country of the source of income may apply on certain kinds of income (interest, royalties); and<br>
					3.The two countries agree to avoid double taxation by granting credit or exemptions on taxes 	paid in the other country in the agreement.
		 			</b></p>
		</div>
	</div>
</div>
		<div class="col-md-4" >
			<div class=" card ">
				<div class="card-body">
					<h3 class=" bg-secondary text-white">What are the tax benefits provided through the Investment Platform Law?</h3>
					<hr>
					<p class="text-justify "><b>
					The earnings from investments that use Chile as a platform to invest in other countries in the region, or to make remittances of those earnings to other countries, will not be subject to any taxation, thus avoiding triple taxation.

					In addition, foreign investments will enjoy the advantages provided by our country to attract and channel these investments in third countries.</b>
			</p></div>
		</div>
	</div>
		<div class="col-md-4" >
			<div class=" card ">
				<div class="card-body">
			<h3 class="display-5 bg-secondary text-white">Why do citizens have to pay taxes?</h3>
			<hr>
			<p class="text-justify pre-scrollable"><b>
				Taxes are collected from citizens by the government to accomplish a series of objectives, namely:
							<br>
				1.To correct externalities: taxes are collected on goods or services where the social cost is not reflected in the private cost. For example, tobacco is heavily taxed due to the health problems it causes and because the cost associated with health care is usually borne by the government. Should this be the case, production is not a social benefit.<br>
				2.To provide public services: taxes are collected for expenditures that would be less efficient should they be provided privately (defense and other partially public expenditures such as health and education).
				<br>
				3.To redistribute wealth: the collection of taxes itself serves as a means of redistribution, as does social spending on programs designed to overcome poverty and inequality.</b>
			</p></div>
		</div>
	</div>
	</div>
</div>
</div>
<br>
{% endblock %} 